<html>
  <head>
    <title>Getting Started with ml5.js</title>
    <!-- p5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.sound.min.js"></script>
    <!-- ml5 -->
    <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>
  </head>

  <body>
    <h1>Image Classification using Feature Extractor with MobileNet</h1>
    <div id="videoContainer"></div>
    <p><span id="modelStatus">Loading MobileNet</span></p>
    
    <p>
      <button id="A">Add A</button>
      <span id="A">0</span> A<br />
      <button id="B">Add B</button>
      <span id="B">0</span> B<br />
      <button id="C">Add C</button>
      <span id="C">0</span> C<br/>
      <button id="D">Add D</button>
      <span id="D">0</span> D<br />
      <button id="E">Add E</button>
      <span id="E">0</span> E<br />
      <button id="F">Add F</button>
      <span id="F">0</span> F<br/>
      <button id="G">Add G</button>
      <span id="G">0</span> G<br />
      <button id="H">H</button>
      <span id="H">0</span>H<br />
      
      <button id="L">Add L</button>
      <span id="L">0</span> L<br />
      <button id="O">Add O</button>
      <span id="O">0</span> O<br />
      <button id="P">Add P</button>
      <span id="P">0</span> P<br/>
       <button id="V">Add V</button>
      <span id="V">0</span> V<br />
      
       <button id="W">Add W</button>
      <span id="W">0</span> W<br />
      
      <button id="Y">Add Y</button>
      <span id="Y">0</span> Y<br />
       <button id="Ok">Add Ok</button>
      <span id="Ok">0</span> Ok<br />
      
      <button id="Bad">Add Bad</button>
      <span id="Bad">0</span> Bad<br />
      <button id="I_love_you">Add I love You</button>
      <span id="I_love_you">0</span> I love you<br />
       <button id="Good">Add Good</button>
      <span id="Good">0</span> Good<br />
      
      <button id="Hello">Add Hello</button>
      <span id="Hello">0</span> Hello<br />
      <button id="That">Add That</button>
      <span id="That">0</span> That<br />
      
      <br/>
      <button id="train">Train</button><span id="loss"></span>
      <button id="buttonPredict">Start guessing!</button><br />
    </p>
    <p>Label: <span id="result">...</span><br />confidence: <span id="confidence">...</span></p>
    <p>
      <button id="save">Save Model</button> 
      <label for="avatar">Load Model:</label>
      <input type="file" id="load" multiple           />
    </p>
    <script src="sketch.js"></script>
  </body>
</html>

// Copyright (c) 2019 ml5
//
// This software is released under the MIT License.
// https://opensource.org/licenses/MIT

/* ===
ml5 Example
Image Classification using Feature Extraction with MobileNet. Built with p5.js
This example uses a callback pattern to create the classifier
=== */

let featureExtractor;
let classifier;
let video;
let loss;
let A = 0;
let B = 0;
let C = 0;
let D = 0;
let E = 0;
let F = 0;
let G = 0;
let H = 0;
let L = 0;
let O = 0;
let P = 0;
let V = 0;
let W = 0;
let Ok = 0;
let Y = 0;
let Bad = 0;
let I_love_you = 0;
let Good = 0;
let That = 0;
let Hello = 0;
function setup() {
  noCanvas();
  // Create a video element
  
  video = createCapture(VIDEO);
  video.parent('videoContainer');
  video.size(64, 64);
  

  // Extract the already learned features from MobileNet
  featureExtractor = ml5.featureExtractor('MobileNet', modelReady);
  const knnClassifier = ml5.KNNClassifier();
  
  
  // Create a new classifier using those features and give the video we want to use
  const options = { numLabels: 21 };
  classifier = featureExtractor.classification(video, options);
  // Set up the UI buttons
  setupButtons();
}

// A function to be called when the model has been loaded
function modelReady() {
  select('#modelStatus').html('MobileNet Loaded!');
  // If you want to load a pre-trained model at the start
   classifier.load('model.json', function() {
    select('#modelStatus').html('Custom Model Loaded!');
   });
}

// Classify the current frame.
function classify() {
  classifier.classify(gotResults);
}

// A util function to create UI buttons
function setupButtons() {
  // When the Cat button is pressed, add the current frame
  // from the video with a label of "cat" to the classifier
  buttonA = select('#A');
  buttonA.mousePressed(function() {
    classifier.addImage('A');
    select('#A').html(A++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonB = select('#B');
  buttonB.mousePressed(function() {
    classifier.addImage('B');
    select('#B').html(B++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonC = select('#C');
  buttonC.mousePressed(function() {
    classifier.addImage('C');
    select('#C').html(C++);
  });
  buttonA = select('#D');
  buttonA.mousePressed(function() {
    classifier.addImage('D');
    select('#D').html(D++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonB = select('#E');
  buttonB.mousePressed(function() {
    classifier.addImage('E');
    select('#E').html(E++);
  });
  buttonB = select('#F');
  buttonB.mousePressed(function() {
    classifier.addImage('F');
    select('#F').html(F++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonC = select('#G');
  buttonC.mousePressed(function() {
    classifier.addImage('G');
    select('#G').html(G++);
  });
  buttonA = select('#H');
  buttonA.mousePressed(function() {
    classifier.addImage('H');
    select('#H').html(H++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  
  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  
  buttonA = select('#L');
  buttonA.mousePressed(function() {
    classifier.addImage('L');
    select('#L').html(L++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonB = select('#O');
  buttonB.mousePressed(function() {
    classifier.addImage('O');
    select('#O').html(O++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonC = select('#P');
  buttonC.mousePressed(function() {
    classifier.addImage('P');
    select('#P').html(P++);
  });
  
  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonC = select('#V');
  buttonC.mousePressed(function() {
    classifier.addImage('V');
    select('#V').html(V++);
  });
 

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonB = select('#W');
  buttonB.mousePressed(function() {
    classifier.addImage('W');
    select('#W').html(W++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonC = select('#Y');
  buttonC.mousePressed(function() {
    classifier.addImage('Y');
    select('#Y').html(Y++);
  });
   buttonC = select('#Ok');
  buttonC.mousePressed(function() {
    classifier.addImage('Ok');
    select('#Ok').html(Ok++);
  });
 

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonB = select('#Good');
  buttonB.mousePressed(function() {
    classifier.addImage('Good');
    select('#Good').html(Good++);
  });

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonC = select('#Bad');
  buttonC.mousePressed(function() {
    classifier.addImage('Bad');
    select('#Bad').html(Bad++);
  });
  

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonB = select('#I_love_you');
  buttonB.mousePressed(function() {
    classifier.addImage('I_love_you');
    select('#I_love_you').html(I_love_you++);
  });
   buttonC = select('#That');
  buttonC.mousePressed(function() {
    classifier.addImage('That');
    select('#That').html(That++);
  });
 

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  buttonB = select('#Hello');
  buttonB.mousePressed(function() {
    classifier.addImage('Hello');
    select('#Hello').html(Hello++);
  });

  

  // When the Dog button is pressed, add the current frame
  // from the video with a label of "dog" to the classifier
  

  // Train Button
  train = select('#train');
  train.mousePressed(function() {
    classifier.train(function(lossValue) {
      if (lossValue) {
        loss = lossValue;
        select('#loss').html('Loss: ' + loss);
      } else {
        select('#loss').html('Done Training! Final Loss: ' + loss);
      }
    });
  });

  // Predict Button
  buttonPredict = select('#buttonPredict');
  buttonPredict.mousePressed(classify);

  // Save model
  saveBtn = select('#save');
  saveBtn.mousePressed(function() {
    classifier.save();
  });

  // Load model
  loadBtn = select('#load');
  loadBtn.changed(function() {
    classifier.load(loadBtn.elt.files, function() {
      select('#modelStatus').html('Custom Model Loaded!');
    });
  });
}

// Show the results
function gotResults(err, results) {
  // Display any error
  if (err) {
    console.error(err);
  }
  if (results && results[0]) {
    select('#result').html(results[0].label);
    select('#confidence').html(results[0].confidence.toFixed(2) * 100 + '%');
    classify();
  }
}
