
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .myheading{
    text-align: center;
      font-family: 'Pacifico',cursive;
      word-spacing: 10px;
      font-size: xx-large;
  
  }
  .togglebtn{
    background-color: transparent;
    border:none;
    color:white;
    font-size:40px;
    padding:0px;
  
  }
  .togglebtn:focus{
    text-decoration: none;
    border:none;
    outline:none;
  }
  textarea{
    margin-top: 50px;
    font-size: 20px;
    box-shadow: 3px 8px #ccc;
    background-color: #fafafa;
    outline: none;
    max-width:350px;
    width:350px;
    height: 150px;
    padding:10px;
    resize: none;
  
    overflow:none;
    border:none;
    text-align: center;
    border-radius: 10px;
  
  
  }
  .convert{
  
    text-align: center;
    justify-content: center;
    margin: 0.5rem 1rem;
      margin-left:27%;
    font-size: x-large;
    padding: 0.5rem 1.5rem;
  
  }
  textarea::placeholder{
    color:black;
  }
  
  textarea:focus::placeholder {
    color: transparent;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  span{
    color:#ff9900;
  }
  
  .navbar {
    font-size: 18px;
    background-color: #222;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 40px 10px 50px;
    padding-bottom: 10px;
  }
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  .logo:hover,
    li a:hover {
        color: #ff9900;
    } 
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 2.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
  
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    hr{
        display: block;
    }
    .main-nav li {
        margin: 0;
    }
  
    .nav-links {
        margin-left: 40px;
    }
  
    .logo {
        margin-top: 0;
    }
  
    .navbar-toggle {
        display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
        color: #ff9900;
    }
  }
  
    .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .loadmodel{
    padding:10px;
    color:black;
    border-style: groove;
    border-radius: 5%;
   border-color:black;
   font-size:20px;
  }
  .savemodel{
    font-size:20px;
  padding:10px;
  color:black;
  border-style: groove;
  border-radius: 5%;
  border-color:black;
  }
  .model{
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: auto auto ;
    background-color:white;
    padding: 10px;
  }
  
  .cam{
    width:445px;
    border-radius:5%;
    height:365px;
    box-shadow: 8px 6px #ccc;
    margin-top: 20%;
  }
  .modelcam{
    width:454px;
    border-radius:5%;
    height:340px;
    box-shadow: 8px 6px #ccc;
  margin-top:-20%;
  }
  
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
  }
  .result{
    padding:10px;
    margin-left:15%;
    margin-right:25%;
    width:50%;
    display:inline-block;
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    font-size: 25px;
    text-align: center;
    background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  
  
  }
  .next{
    padding:10px;
    margin-left:15%;
    margin-right:25%;
    width:50%;
    display:inline-block;
      border-style: groove;
    border-color: black;
    border-radius: 5%;
    font-size: 25px;
    text-align: center;
    background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  font-family: 'cursive';
  
  }
  /* 
  
  .next{
    padding:10px;
    width:250px; */
    /* margin-right:40%;
    margin-left:40%; */
    /* border-style: groove;
    border-color: black;
    border-radius: 5%;
    font-size: 25px;
    text-align: center;
  
  } */
  .probability{
  
    padding:10px;
    margin-left:15%;
    margin-right:25%;
    width:50%;
    display:inline-block;
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    font-size: 25px;
    text-align: center;
    background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  
    /* border-style: groove;
    border-color: black;
    border-radius: 5%;
    font-size: 25px;
    text-align: center; */
  }
  .flex-2-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 500px;
  
    
  }
  .main-box{
    padding:20px;
    margin-top:15%;
    border-style: solid;
    border-radius: 5%;
    border-color: #111;
    text-align: center;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  .container-element{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 30px;
    padding: 5px;
  
    font-size: 30px;;
  
  }
  .addnewimage{
    padding:5px;
    border-radius: 5%;
    border-style: groove;
    border-color: #111;
    background-color: #111;
    color:white;
  }
  .className{
    color:black;
  }
  .count{
    color:black;
  }
  .classinput{
    margin-top:20%;
    margin-left: 5%;
    padding:10px;
    display:grid;
    grid-template-columns: auto;
    /* width:300px; */
    background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    font-size: 25px;
    text-align: center;
  }
  .addbutton{
    padding:10px;
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-right:15%;
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    font-size: 25px;
    text-align: center;
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and  (max-width: 600px) {
    .column {
      width: 100%;
    }
   
    .cam{
      width:295px;
      margin-left:6%;
      border-radius:5%;
      height:243px;
      box-shadow: 6px 6px #ccc;
      margin-top: 10%;
    }
    .next{
      width: 65%;
      margin-bottom:-10%;
      margin-left: 18%;
    }
  
    .probability{
      display: inline-block;
      width: 65%;
      margin-left: 18%;
  
    }
    .classinput{
    margin-left: 0%;
    }
    .result{
      display: inline-block;
      width: 65%;
      margin-left: 18%;
    }
    .addbutton{
      display: inline-block;
      width: 65%;
      margin-left: 18%
    }
    .modelcam{
      width:295px;
      margin-left:-1%;
      border-radius:5%;
      height:243px;
      box-shadow: 8px 6px #ccc;
      margin-top: 10%;
    }
  }
  
  
  
  /*
  --------------------------------------
  Abhishek Code
  --------------------------------------
  */
  
  body {
       background-color: #fff;
  }
  
  .container {
       margin: auto;
       width:80%;
  }
  
  .center {
       text-align: center;
  }
  
  #inputClassName {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fafafa;
    border: 0;
    margin: 10px 50px;
    font-size: 20px;
    box-shadow: 0 8px #ccc;
    outline: none;
  }
  
  
  .grey-bg {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fafafa;
    border: 0;
    margin: 2rem 10px;
    font-size: 20px;
    box-shadow: 3px 8px #ccc;
    outline: none;
    max-width:350px;
    display: flex;
    flex-direction: column;
  }
  .texttospeech{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fafafa;
    border: 0;
    
    margin: 2rem 10px;
    margin-top:-1px;
    font-size: 20px;
    box-shadow: 3px 8px #ccc;
    outline: none;
    max-width:350px;
    height:33px;
    display: flex;
    flex-direction: column;
  
  
  }
  
  .grey-bg h3 {
       display: inline;
       padding: 0.5rem;
       margin: 0.6rem auto;
       color:#fe4a49 ;
  }
  .grey-bg span {
       color: #000;
  }
  
  .dark {
       background-color: #394043;
       border:none;
       color: #fff;
       padding:5px 15px;
       border-radius: 4px;
       margin: 0px auto;
     
  }
  
  .danger {
       background-color:#fe4a49;
       /* background-color: #ff4d00; */
       border:none;
       color: #fff;
       padding:5px 15px;
       border-radius: 4px;
  }
  
  .primary {
       background-color:#0096fe;
       border:none;
       color: #fff;
       padding:5px 15px;
       border-radius: 4px;
  }
  
  .warning {
       background-color: #fed766;
       border:none;
       color: #000;
       padding:5px 15px;
       border-radius: 4px;
  }
  
  .success {
       background-color: #74d600;
       border:none;
       color: #fff;
       padding:5px 15px;
       border-radius: 4px;
  }
  
  .info {
  background-color: #2ab7ca;
       border:none;
       color: #fff;
       padding:5px 15px;
       border-radius: 4px;
  }
  
  .btn-spread {
       text-align: center;
       justify-content: center;
       width:90%;
       margin: 0.5rem 1rem;
       font-size: x-large;
       padding: 0.5rem 1.5rem;
  }
  
  .btn-lg {
       text-align: center;
       justify-content: center;
       margin: 0.5rem 1rem;
       font-size: x-large;
       padding: 0.5rem 1.5rem;
  }
  
  .btn-shadow {
       box-shadow: 0px 2px #888;
  }
  
  .ml- {
       margin-left: 1rem;
  }
  
  .ml-5{
    margin-left: 5rem;
  }
  
  .mr-5 {
       margin-right: 1rem;
  }
  
  .text-center {
       text-align: center;
  }
  
  
  
  