<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Translator</title>

    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="../docs/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <button class="togglebtn" onClick={this.buttonclicked}> <i class="fas fa-bars"></i></button>
        </span>
        <h5><a href="../index.html" class="logo">Sign Language <span>Translator</span></a></h5>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="../index.html" class="nav-links ">Tutorials</a>
            </li>
            <li>
                <a href="./Training.html" class="nav-links">Training</a>
            </li>

            <li>
                <a href="../Model.html" class="nav-links">Test Your Skills</a>
            </li>

            <li>
                <a href="./About.html" class="nav-links orange" style="color: #ff9900;">About</a>
            </li>

        </ul>
    </nav>
    <br>
    <h1 class="text-center" style="    font-family: 'Pacifico',cursive;
    "> Know More About Us ?</h1>
    <br><br>

    <div class="youtube">
        <iframe width="660" height="415" frameborder="0" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=0">
        </iframe></div>
    <br> <br>


    <div class="card" style="width: 70%;margin-left:15%;margin-right:15%">
        <h5 class="card-header text-center" style="font-size: 26px;margin-bottom: 20px;">Our Goal <span
                style="color:#ff9900"><i class="fas fa-bullseye"></i></span>

        </h5>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;">
                Our prime goal is to create a platform for hearing/speech impaired people, which they can use to
                communicate smoothly at any circumstance.
            </h5>
        </div>
    </div>
    <br> <br> <br> <br>
    <br>
    <div class="card" style="width: 70%;margin-left:15%;margin-right:15%">
        <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px;">Train Your Model <span
                style="color:#ff9900"><i class="fab fa-joomla ml-"></i> </span>
        </h5>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;">
                The user records his gestures into the model with the help of a camera, and then label that particular
                gesture.

            </h5>
            <img class="modelpic" src="../docs/Images/TeachableMachine.png">
            <div class="buttoncenter">
                <div>
                    <a href="#"> <button class="bton  dark mr-5" style="color:ff9900"> <span
                                style="color:#fafafa">Training </span> </button></a>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <br> <br>

    <br>
    <div class="card" style="width: 70%;margin-left:15%;margin-right:15%">
        <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px;">Practice Your Skills
            <span style="color:#ff9900"><i class="fas fa-microphone ml-"></i></span>
        </h5>
        <div class="card-body">
            <h5 class="card-title text-center " style="font-size: larger;">

                When the user communicates with an oppositite party using sign language, the pre-trained model then uses
                the recorded gestures to relay the desired message in the form of text or speech to the receiver.

                The Model currently supports 21 alphabets/words signs in ASL , It can be used by beginner user to
                practice his skills against pre-trained model.
            </h5>
            <img class="modelpic" src="../docs/Images/Model.jpg">


            <div class="buttoncenter">
                <div>
                    <a href="#"> <button class="bton  dark mr-5" style="color:ff9900"> <span
                                style="color:#fafafa">Practice Your Skill</span> </button></a>
                </div>
            </div>
        </div>
    </div>
    <br> <br><br> <br> <br>

    <div class="card" style="width: 70%;margin-left:15%;margin-right:15%">
        <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px; ">Tutorial <span
                style="color:#ff9900"><i class="fas fa-chalkboard ml-" style="color:ff9900"></i></span>
        </h5>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;">Tutorials are provided in assisting the user
                for a smooth traversal across the application</h5>

            <div class="buttoncenter">
                <div>
                    <a href="#"> <button class="bton  dark mr-5" style="color:ff9900"> <span
                                style="color:#fafafa">Tutorial </span> </button></a>
                </div>
            </div>

        </div>
    </div>
    <br> <br> <br>
    <div class="githubdiv">
        <a href="https://github.com/Elysian01/Sign-Language-Translator"> <button class="bton  dark mr-5"
                style="color:ff9900"> <span style="color:#fafafa"><i class="fab fa-github "
                        style="margin-right:1rem"></i>Open Source Project on Github </span>
            </button></a>
    </div>
    </div>
    <br> <br>

    <footer>
        <div class="aboutfooter" style="color:ff9900">
            <div class="grid-container" style="background-color: #394043;align-content: center;">

                <div class="card"
                    style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br>
                            GUPTA ABHISHEK MANILAL
                            <br>
                            <span class="text-center">
                                <a href="mailto:abhig0209@gmail.com">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="https://www.linkedin.com/in/abhishek-gupta-a745221a0/">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href="https://github.com/Elysian01">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
                <div class="card"
                    style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">

                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br>

                            ANSH MITESH CHHADVA
                            <br>

                            <span class="text-center">

                                <a href="mailto:anshmiteshchhadva@gmail.com">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="https://www.linkedin.com/in/ansh-chhadva-ab3902183/">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href="https://github.com/ansh0812">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
                <div class="card"
                    style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">

                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br>
                            GLADINA RAYMOND
                            <br>

                            <span class="text-center">
                                <a href="mailto:rrcg2000@gmail.com">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="https://www.linkedin.com/in/gladina-raymond-2a56a8194/">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href="https://github.com/Elysian01">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
                <div class="card"
                    style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">
                    <!-- <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px; ">Tutorial <span
                            style="color:ff9900"><i class="fas fa-chalkboard ml-" style="color:ff9900"></i></span>
                    </h5> -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br>
                            ABDUL AZIM RAJMOHAMED
                            <br>

                            <span class="text-center">
                                <a href="mailto:abdulazim0402@gmail.com">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="https://www.linkedin.com/in/abdul-azim-08087019b/">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href="https://github.com/Elysian01">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script>
        let mainNav = document.getElementById('js-menu');
        let navBarToggle = document.getElementById('js-navbar-toggle');

        navBarToggle.addEventListener('click', function () {
            mainNav.classList.toggle('active');
        });


    </script>
</body>

</html>
