<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Sign Language Translator</title>
     <script src="https://unpkg.com/@tensorflow/tfjs"></script>
     <script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>
     <script src="https://unpkg.com/@tensorflow-models/knn-classifier"></script>
     <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
     <script src="http://code.jquery.com/jquery-3.5.0.js"
          integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
     <script>

     </script>

     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">


</head>

<body>
     <nav class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
               <button class="togglebtn" onClick={this.buttonclicked}> <i class="fas fa-bars"></i></button>
          </span>
          <h5><a href="{{ url_for('Tutorial')}}" class="logo">Sign Language <span>Translator</span></a></h5>
          <ul class="main-nav" id="js-menu">
               <li>
                    <a href="{{ url_for('Tutorial')}}" class="nav-links">Tutorials</a>
               </li>
               <li>
                    <a href="{{ url_for('Training')}}" class="nav-links">Training</a>
               </li>

               <li>
                    <a href="{{ url_for('Model')}}" class="nav-links">Model & Voice</a>
               </li>

               <li>
                    <a href="{{ url_for('About') }}" class="nav-links">About</a>
               </li>

          </ul>
     </nav>
     {% block content %}{% endblock %}

     <script src="{{ url_for('static',filename='js/main.js')}}"></script>
</body>

</html>