<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Maintance</title>
</head>

<body>
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
				<button class="togglebtn" onClick="{this.buttonclicked}">
					<i class="fas fa-bars"></i>
				</button>
			</span>
        <h5>
            <a href="../index.html" class="logo">Sign Language <span>Translator</span></a
				>
			</h5>
			<ul class="main-nav" id="js-menu">
				<li>
					<a href="../index.html" class="nav-links">Tutorials</a>
            </li>
            <li>
                <a href="./Training.html" class="nav-links">Training</a
					>
				</li>

				<li>
					<a
						href="./PageNotFound.html"
						class="nav-links orange"
						style="color: #ff9900;"
						>Test Your Skills</a
					>
				</li>

				<li>
					<a href="./About.html" class="nav-links">About</a>
            </li>
            </ul>
    </nav>
    <br />
    <h1 class="text-center" style="font-family: 'Pacifico', cursive;">
        Site Under Maintance !
    </h1>
    <br /><br />
    <div class="text-center">
        <h1 class="font-weight-bold">Sorry For trouble</h1>
    </div>
    <img src="../static/PageNotFound.gif" style="margin: 0 auto; display: block;" />
    <!-- <div class=" text-center">
        <br>
        <h2 class="font-weight-bold"> ERROR 404 </h2><br>
        <a href="{{ url_for('Tutorial') }}"><button type="button" class="dark btn-lg">Go Back to
                Home</button></a>
    </div> -->

    <br />

    <footer>
        <div class="aboutfooter" style="color: ff9900;">
            <div class="grid-container" style="
						background-color: #394043;
						align-content: center;
					">
                <div class="card" style="
							background-color: #394043;
							border: none;
							color: #fafafa;
							margin-top: 30px;
							margin-bottom: 30px;
						">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center" style="
									font-size: 20px;
									padding-bottom: -50px;
								">
                            <br /> GUPTA ABHISHEK MANILAL
                            <br />
                            <span class="text-center">
									<a
										href="mailto:abhig0209@gmail.com"
									>
										<img
											src="https://img.icons8.com/color/30/000000/gmail.png"
										/>
									</a>
									<a
										href="https://www.linkedin.com/in/abhishek-gupta-a745221a0/"
									>
										<img
											src="https://img.icons8.com/color/28/000000/linkedin.png"
										/>
									</a>
									<a
										href="https://github.com/Elysian01"
									>
										<img
											src="https://img.icons8.com/material-sharp/30/000000/github.png"
										/>
									</a>
								</span>
                        </h5>
                    </div>
                </div>
                <div class="card" style="
							background-color: #394043;
							border: none;
							color: #fafafa;
							margin-top: 30px;
							margin-bottom: 30px;
						">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="
									font-size: 20px;
									padding-bottom: -50px;
								">
                            <br /> ANSH MITESH CHHADVA
                            <br />

                            <span class="text-center">
									<a
										href="mailto:anshmiteshchhadva@gmail.com"
									>
										<img
											src="https://img.icons8.com/color/30/000000/gmail.png"
										/>
									</a>
									<a
										href="https://www.linkedin.com/in/ansh-chhadva-ab3902183/"
									>
										<img
											src="https://img.icons8.com/color/28/000000/linkedin.png"
										/>
									</a>
									<a
										href="https://github.com/ansh0812"
									>
										<img
											src="https://img.icons8.com/material-sharp/30/000000/github.png"
										/>
									</a>
								</span>
                        </h5>
                    </div>
                </div>
                <div class="card" style="
							background-color: #394043;
							border: none;
							color: #fafafa;
							margin-top: 30px;
							margin-bottom: 30px;
						">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="
									font-size: 20px;
									padding-bottom: -50px;
								">
                            <br /> GLADINA RAYMOND
                            <br />

                            <span class="text-center">
									<a
										href="mailto:rrcg2000@gmail.com"
									>
										<img
											src="https://img.icons8.com/color/30/000000/gmail.png"
										/>
									</a>
									<a
										href="https://www.linkedin.com/in/gladina-raymond-2a56a8194/"
									>
										<img
											src="https://img.icons8.com/color/28/000000/linkedin.png"
										/>
									</a>
									<a
										href="https://github.com/Elysian01"
									>
										<img
											src="https://img.icons8.com/material-sharp/30/000000/github.png"
										/>
									</a>
								</span>
                        </h5>
                    </div>
                </div>
                <div class="card" style="
							background-color: #394043;
							border: none;
							color: #fafafa;
							margin-top: 30px;
							margin-bottom: 30px;
						">
                    <!-- <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px; ">Tutorial <span
                                style="color:ff9900"><i class="fas fa-chalkboard ml-" style="color:ff9900"></i></span>
                        </h5> -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="
									font-size: 20px;
									padding-bottom: -50px;
								">
                            <br /> ABDUL AZIM RAJMOHAMED
                            <br />

                            <span class="text-center">
									<a
										href="mailto:abdulazim0402@gmail.com"
									>
										<img
											src="https://img.icons8.com/color/30/000000/gmail.png"
										/>
									</a>
									<a
										href="https://www.linkedin.com/in/abdul-azim-08087019b/"
									>
										<img
											src="https://img.icons8.com/color/28/000000/linkedin.png"
										/>
									</a>
									<a
										href="https://github.com/Elysian01"
									>
										<img
											src="https://img.icons8.com/material-sharp/30/000000/github.png"
										/>
									</a>
								</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>