<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Translator</title>

    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>
    <script src="https://unpkg.com/@tensorflow-models/knn-classifier"></script>
    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/mystyle.css">
    <script src="./js/main.js"></script>



</head>

<body>
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <button class="togglebtn" onClick={this.buttonclicked}> <i class="fas fa-bars"></i></button>
        </span>
        <h5><a href="../index.html" class="logo">Sign Language <span>Translator</span></a></h5>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="../index.html" class="nav-links">Tutorials</a>
            </li>
            <li>
                <a href="./Training.html" class="nav-links orange">Training</a>
            </li>

            <li>
                <a href="../Model.html" class="nav-links">Test Your Skill</a>
            </li>

            <li>
                <a href="./About.html" class="nav-links">About</a>
            </li>

        </ul>
    </nav>


    <div class="alert alert-success">
        Please train atleast 30 images for each class and,for more information
        <a href="#" style="color: green;">click
            here </a>
    </div>


    <h1 class="myheading"><i class="fab fa-joomla"></i> Train Your Own Model</h1><br>


    <div class="row">
        <div class="column flex-container">
            <br></br>
            <div class="mycam">
                <br><br> <br><br>
                <br><br> <br><br>


                <video autoplay playsinline muted id="webcam" class="cam"></video>

                <div class="grey-bg">
                    <div class="row text-center">
                        <h3>Prediction: <span id="predictions"></span></h3>
                        <h3>Probability : <span id="confidence"></span> %</h3>
                    </div>

                </div>
                <label class="dark btn-lg mr-5">Select Voice</label> <select id='voiceList' style="margin:20px;"
                    class="dark "></select> <br><br>
                <button id='btnSpeak' class="dark btn-lg btn-shadow" style="float: right;" id="speak">Speak <i
                        class="fas fa-microphone ml"></i></button>

                <br><br> <br><br>
                <button class="dark btn-lg btn-shadow">Next step <i class="fas fa-arrow-right"></i></button><br><br>
            </div>
            <!-- <Webcam class="mycam"></Webcam> -->
        </div>


        <div class="column flex-2-container">
            <!-- <AddContainer></AddContainer> -->
            <div>
                <div class="model">
                    <button class="dark btn-lg btn-shadow " id="save_button">Download Model <i
                            class="fas fa-download"></i></button>
                    <input class="fileinputs" type="file" id="load_button">
                    <!-- <label for="upload-photo">Browse...</label> -->




                </div>

                <div class="add-class text-center">
                    <br> <br>
                    <br> <br>
                    <br> <br>

                    <input id="inputClassName" type="text" placeholder="Enter Class Name Here" name="option" />
                    <button class="dark btn-lg btn-shadow mr-5" id="add-button">Add <i
                            class="fas  fa-plus fa-1x"></i></button>
                </div>
                <br>


                <div id="training-cards">

                    <!-- <div class=" newshifter">
                        <div class="text-center">
                            <h3>Class Name : <span>How are you?</span></h3>
                            <h3>Images : <span>50</span></h3>
                        </div>
                        <div>
                            <button class="dark btn-spread btn-shadow mr-5">Add New Images <i
                                    class="fas fa-plus fa-1x"></i>
                            </button>
                        </div>
                    </div> -->
                </div>


            </div>
        </div>
    </div>



    <script>
        let mainNav = document.getElementById('js-menu');
        let navBarToggle = document.getElementById('js-navbar-toggle');

        navBarToggle.addEventListener('click', function () {
            mainNav.classList.toggle('active');
        });


    </script>



    <body>


</html>