<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Sign Language Translator</title>

     <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="../static/style.css">
     <script src="./js/tutorial.js"></script>

</head>

<body>
     <nav class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
               <button class="togglebtn" onClick={this.buttonclicked}> <i class="fas fa-bars"></i></button>
          </span>
          <h5><a href="./Tutorials.html" class="logo">Sign Language <span>Translator</span></a></h5>
          <ul class="main-nav" id="js-menu">
               <li>
                    <a href="./Tutorials.html" class="nav-links">Tutorials</a>
               </li>
               <li>
                    <a href="./Training.html" class="nav-links">Training</a>
               </li>

               <li>
                    <a href="./Model.html" class="nav-links">Model & Voice</a>
               </li>

               <li>
                    <a href="./About.html" class="nav-links">About</a>
               </li>

          </ul>
     </nav>
     <br>
     <div class="add-class text-center">
          <input id="inputClassName" type="text" placeholder="Search here" name="option" />
          <button class="dark btn-lg btn-shadow mr-5" id="add-button">Search <i class="fas fa-search"></i></button>
     </div>
     <br>
     <div class="test-class">
          <br><br><br><br>
     </div>
     <div class="tut-container">
          <div class="item1" id="image-loader">
               <img src="../static/ISL_Gifs/29-hello.gif" class="tutorial-image">
          </div>
          <div class="grey-bgs ml-5">
               <div class="center">
                    <br>
                    <h3 style="font-family: 'Pacifico',cursive;">Most Commonly Used Phrases</h3>
                    <br>
               </div>
               <div class="outer-column">
                    <div class="column">
                         <ul>
                              <li><button id="47" value="47" type="button">Lets go for lunch </button></li>
                              <li><button id="79" value="79" type="button">What is today's date</button></li>
                              <li><button id="20" value="20" type="button">Do you have money</button></li>



                              <li><button id="53" value="53" type="button">Nice to Meet you</button></li>
                              <li><button id="81" value="81" type="button">What is your name</button></li>

                              <li><button id="83" value="83" type="button">Where is the bathroom</button></li>
                              <li><button id="56" value="56" type="button">Please call me later</button></li>
                              <li><button id="62" value="62" type="button">Shall i help you</button></li>


                         </ul>
                    </div>
                    <div class="column">
                         <ul>
                              <li class="in-column"><button id="29" value="29" type="button">Hello </button></li>
                              <li class="in-column"><button id="33" value="33" type="button">I am fine </button></li>
                              <li class="in-column"><button id="34" value="34" type="button">I am Sorry </button></li>

                              <li class="in-column"><button id="54" value="54" type="button">Open the door </button>
                              </li>

                              <li class="in-column"><button id="5" value="5" type="button">Are you Hungry </button></li>
                              <li class="in-column"><button id="11" value="11" type="button">Be Careful</button></li>
                              <li class="in-column"><button id="68" value="68" type="button">Take Care </button></li>
                              <li class="in-column"><button id="3" value="3" type="button">Any Questions </button></li>


                         </ul>
                    </div>
               </div>
          </div>

     </div>
     <div class="alpha-containers">
          <div class="alpha">
               <div class=" alphabetcard">
                    <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 0px;">Alphabets<span
                              style="color:#ff9900"><i class="fab fa-joomla ml-"></i> </span>
                    </h5>
                    <div class=" myflexes">
                         <div class="allbuttons-4">
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="a"
                                        id="a" type="button">A</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="b"
                                        id="b" type="button">B</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="c"
                                        id="c" type="button">C</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="d"
                                        id="d" type="button">D</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="e"
                                        id="e" type="button">E</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="f"
                                        id="f" type="button">F</button></span>

                              <span><button style="border:none;background-color:transparent;font-size:30px" value="g"
                                        id="g" type="button">G</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="h"
                                        id="h" type="button">H</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="i"
                                        id="i" type="button">I</button></span><span><button
                                        style="border:none;background-color:transparent;font-size:30px" value="j" id="j"
                                        type="button">J</button></span> <span><button
                                        style="border:none;background-color:transparent;font-size:30px" value="k" id="k"
                                        type="button">K</button></span>

                              <span><button style="border:none;background-color:transparent;font-size:30px" value="l"
                                        id="l" type="button">L</button></span>

                              <span><button style="border:none;background-color:transparent;font-size:30px" value="m"
                                        id="m" type="button">M</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="n"
                                        id="n" type="button">N</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="o"
                                        id="o" type="button">O</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="p"
                                        id="p" type="button">P</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="q"
                                        id="q" type="button">Q</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="r"
                                        id="r" type="button">R</button></span>

                              <span><button style="border:none;background-color:transparent;font-size:30px" value="s"
                                        id="s" type="button">S</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="t"
                                        id="t" type="button">T</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="u"
                                        id="u" type="button">U</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="v"
                                        id="v" type="button">V</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="w"
                                        id="w" type="button">W</button></span>
                              <span><button style="border:none;background-color:transparent;font-size:30px" value="x"
                                        id="x" type="button">X</button></span>
                         </div>
                         <div class="allbuttons-5">
                              <div style="margin-left: 5px;"> <button
                                        style="border:none;background-color:transparent;font-size:30px; padding-right:2rem"
                                        value="y" id="y" type="button">Y </button></div>

                              <div style="margin-right: 3px;"> <button
                                        style="border:none;background-color:transparent;font-size:30px ;padding-left:2rem"
                                        value="z" id="z" type="button">Z</button></div>

                         </div>




                    </div>

               </div>
          </div>

          <!-- <div class="objects">
               <div class=" newcard">
                    <h5 class="mycard-header text-center " style="font-size: 26px;margin-bottom: 0px;">Train Your Model
                         <span style="color:#ff9900"><i class="fab fa-joomla ml-"></i> </span>
                    </h5>
                    <div class="mycard-body">
                         <div class="outer-column">
                              <div class="column">
                                   <ul style="list-style: none;">
                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger;"
                                                  id="47" value="47" type="button">Lets go for lunch </button></li>
                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="79" value="79" type="button">What is today's date</button></li>
                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="20" value="20" type="button">Do you have money</button></li>



                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="53" value="53" type="button">Nice to Meet you</button></li>
                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="81" value="81" type="button">What is your name</button></li>

                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="83" value="83" type="button">Where is the bathroom</button></li>
                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="56" value="56" type="button">Please call me later</button></li>
                                        <li><button class="mylistbtn"
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="62" value="62" type="button">Shall i help you</button></li>


                                   </ul>
                              </div>
                              <div class="column">
                                   <ul style="list-style: none;">
                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="29" value="29" type="button">Hello </button></li>
                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="33" value="33" type="button">I am fine </button></li>
                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="34" value="34" type="button">I am Sorry </button></li>

                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="54" value="54" type="button">Open the door </button>
                                        </li>

                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="5" value="5" type="button">Are you Hungry </button></li>
                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="11" value="11" type="button">Be Careful</button></li>
                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="68" value="68" type="button">Take Care </button></li>
                                        <li class="in-column"><button
                                                  style="border: none;background-color: transparent;padding:10px;font-size: larger; "
                                                  id="3" value="3" type="button">Any Questions </button></li>


                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div> -->
          <!-- <div class="grey-bgs ml-5">
               <div class="center">
                    <br>
                    <h3 style="font-family: 'Pacifico',cursive;">Most Commonly Used Phrases</h3>
                    <br>
               </div>
               <div class="outer-column">
                    <div class="column">
                         <ul>
                              <li><button id="47" value="47" type="button">Lets go for lunch </button></li>
                              <li><button id="79" value="79" type="button">What is today's date</button></li>
                              <li><button id="20" value="20" type="button">Do you have money</button></li>



                              <li><button id="53" value="53" type="button">Nice to Meet you</button></li>
                              <li><button id="81" value="81" type="button">What is your name</button></li>

                              <li><button id="83" value="83" type="button">Where is the bathroom</button></li>
                              <li><button id="56" value="56" type="button">Please call me later</button></li>
                              <li><button id="62" value="62" type="button">Shall i help you</button></li>


                         </ul>
                    </div>
                    <div class="column">
                         <ul>
                              <li class="in-column"><button id="29" value="29" type="button">Hello </button></li>
                              <li class="in-column"><button id="33" value="33" type="button">I am fine </button></li>
                              <li class="in-column"><button id="34" value="34" type="button">I am Sorry </button></li>

                              <li class="in-column"><button id="54" value="54" type="button">Open the door </button>
                              </li>

                              <li class="in-column"><button id="5" value="5" type="button">Are you Hungry </button></li>
                              <li class="in-column"><button id="11" value="11" type="button">Be Careful</button></li>
                              <li class="in-column"><button id="68" value="68" type="button">Take Care </button></li>
                              <li class="in-column"><button id="3" value="3" type="button">Any Questions </button></li>


                         </ul>
                    </div>
               </div>
          </div> -->

     </div>
     </div>

</body>

</html>